*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/robotobold.woff2) format('woff2'),
    url(../fonts/robotobold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/robotomedium.woff2) format('woff2'),
    url(../fonts/robotomedium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.woff2) format('woff2'),
    url(../fonts/roboto.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #849d8f;
}

.header-nav__list {
  list-style: none;
  display: flex;
  padding-left: 10px;
}

.header-nav__link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
}

.header-nav__item {
  padding-left: 14px;
  padding-right: 14px;
}

.user-panel__btn {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.user-panel__btn-icon {
  position: absolute;
  top: 7px;
  left: 7px;
}

.user-panel {
  display: flex;
  margin-top: 12px;
}

.user-panel__login {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 44px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 7px;
  position: relative;
}

.user-panel__login-icon {
  position: absolute;
  top: 7px;
  left: 15px;
}

.user-panel__basket {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 44px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 5px;
  position: relative;
}

.user-panel__basket-icon {
  position: absolute;
  top: 6px;
  left: 15px;
}

.user-info__text {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  color: #ffffff;
  padding-left: 95px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.user-info__number {
  font-family: inherit;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding-left: 60px;
}

.header-wrapper {
  display: flex;
  padding-top: 10px;
}

.header-nav {
  display: flex;
  margin-left: 6px;
}

.header-users {
  margin-left: 361px;
  position: relative;
}

.main-page__slider {
  position: relative;
}

.slider-main__text {
  font-family: inherit;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.01;
  text-align: center;
  color: #ffffff;
  width: 680px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  padding-top: 258px;
}

.slider-main__list {
  margin: 0;
}

.slides {
  position: relative;
  height: 590px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.slide:nth-of-type(2) {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.slide:nth-of-type(3) {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.slider-main__link {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-family: inherit;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 73px;
  display: inline-block;
}

.main-advantages {
  background-color: #849d8f;
  margin-top: -18px;
}

.main-advantages__list {
  display: flex;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.main-advantages__title {
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 18px;
}

.main-advantages__text {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
}

.main-advantages__link {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  color: #ffffff;
  margin-left: 374px;
  margin-top: 27px;
}

.main-advantages__link--shoko {
  margin-left: 348px;
  margin-top: 26px;
}

.main-advantages__item {
  width: 560px;
}

.main-advantages__item--malina {
  background-image: url("../img/malina.png");
  background-repeat: no-repeat;
  margin-right: 26px;
  margin-left: 7px;
  width: 560px;
  height: 229px;
  z-index: 2;
}

.main-advantages__item--shoko {
  background-image: url("../img/shoko.png");
  background-repeat: no-repeat;
  width: 560px;
  height: 229px;
  z-index: 2;
}

.main_preview__price {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: inherit;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  margin-top: -65px;
  margin-bottom: 20px;
}

.main_preview__price-simbol {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.main_preview {
  background-color: #849d8f;
  min-height: 403px;
}

.main_preview__list {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 40px;
  width: 1147px;
  justify-content: space-between;
  margin-left: 8px;
}

.main_preview__item {
  margin: 0;
  padding: 0;
  height: 267px;
  position: relative;
}

.main_preview__item::after {
  content: "";
  position: absolute;
  background-image: url("../img/hit.svg");
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 100;
}

.main_preview__link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #ffffff;
  width: 260px;
  text-align: center;
  display: block;
}

.shop-info {
  background-color: #849d8f;
}

.shop-info__wrapper {
  background-image: url("../img/vafleback.png");
  width: 1146px;
  height: 306px
}

.shop-info__title {
  margin: 0;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  color: #323232;
  padding-top: 24px;
}

.shop-info__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 14px;
  padding-left: 0;
}

.shop-info__item:nth-child(even) {
  padding-left: 77px;
}

.shop-info__item {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #323232;
  width: 547px;
  padding-left: 57px;
}

.shop-info__item--1 {
  position: relative;
}

.shop-info__item--1::after {
  content: "";
  background-image: url("../img/ice-cream.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -5px;
  left: 0;
}

.shop-info__item--2 {
  position: relative;
}

.shop-info__item--2::after {
  content: "";
  background-image: url("../img/cow.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -6px;
  left: 17px;
}

.shop-info__item--3 {
  position: relative;
}

.shop-info__item--3::after {
  content: "";
  background-image: url("../img/eco.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -6px;
  left: 0;
}

.shop-info__item--4 {
  position: relative;
}

.shop-info__item--4::after {
  content: "";
  background-image: url("../img/thermometer.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -7px;
  left: 18px;
}

.shop-info__text {
  margin-top: 7px;
}

.main-news {
  background-color: #849d8f;
}

.main-news__wrapper {
  display: flex;
  padding-bottom: 40px;
}

.main-news__about {
  width: 560px;
  min-height: 220px;
  background-image: url("../img/backstrawberry.png");
  background-repeat: no-repeat;
  margin-top: 40px;
    margin-left: 7px;
}

.main-news-sub {
  width: 560px;
  min-height: 220px;
  margin-top: 40px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
      margin-left: 26px;
}
.main-news-sub__backcolor{
  width: 546px;
height: 207px;
background-color: #ffffff;
margin-left: 7px;
border-radius: 15px;
}
.main-news__text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #323232;
  margin-left: 20px;
    margin-top: 21px;
    margin-bottom: 0;
}

.main-news__link {
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #323232;
  width: 310px;
  display: block;
  padding-left: 20px;
padding-top: 4px;
}

.main-news-sub__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #5a5a5a;
  margin-top: 7px;
  padding-top: 26px;
    padding-left: 21px;
}
.main-news-sub__form{
  margin-top: 35px;
    padding-left: 29px;
}
.main-news-sub__input {
  width: 368px;
  height: 44px;
  outline: 0;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.main-news-sub__send {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  padding-left: 17px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 20px;
   font-size: 18px;
  font-weight: bold;
line-height: 1.33;
color: #fefefe;

}

.main-map {
  text-align: center;
  position: relative;
  height: 430px;
}

.user-info {
  position: absolute;
  top: 46px;
  z-index: 3;
  left: 0px;
}

.user-info__title {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #323232;
  width: 150px;
  margin-left: 23px;
    margin-top: 31px;
    margin-bottom: 0;
}

.user-info__adres {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #323232;
  width: 220px;
margin-top: 0;
margin-left: 25px;
font-weight: bold;
}

.user-info__feedback {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #323232;
  margin-left: 24px;
    margin-top: 21px;
    margin-bottom: 3px;
}
.user-info__feedback--time{
  margin-top: 0;
}

.user-info__nuber {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #323232;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-left: 24px;

}

.user-info__popup-open {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 28px;
  padding-right: 28px;
  border: none;
  border-radius: 25px;
      margin-top: 22px;
}
.user-info-map{
  width: 302px;
min-height: 305px;
position: absolute;
top: 60px;
right: 100px;
background-color: #ffffff;
border-radius: 15px;
}
.footer {
  background-color: #849d8f;
  min-width: 103px;
}

.footer-wrapper {
  display: flex;
}

.footer-social {
  margin: 0;
  list-style: none;
  display: flex;
  padding-left: 5px;
height: 36px;
padding-top: 35px;
}
.footer-feedback{
  margin-left: 200px;
}

.footer-feedback__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
width: 344px;
padding-top: 28px;
}
.footer-feedback__item:last-child{
  margin-left: auto;
}

.footer-feedback__link {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.footer-feedback__link--bold {
  font-weight: bold;
  position: relative;
  margin-right: 32px;
}
.footer-feedback__link--bold::after{
  content: "";
  position: absolute;
  background-image: url("../img/heart.svg");
  top: 5px;
  left: -22px;
  width: 15px;
height: 13px;
}
.footer-copyright{
  margin-left: auto;
    width: 195px;
}
.footer-copyright__logo{
  margin-top: 15px;
}
.footer-copyright__text {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #fefefe;
  margin-top: 0;
}

.footer-copyright__name {
  border-bottom: 1px solid #9db1a5;
}
.footer-social__item{
  margin-left: 3px;
  margin-right: 5px;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 25px;
  width: 38px;
height: 38px;
}
