*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/robotobold.woff2) format('woff2'),
    url(../fonts/robotobold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/robotomedium.woff2) format('woff2'),
    url(../fonts/robotomedium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.woff2) format('woff2'),
    url(../fonts/roboto.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #849d8f;
}

.header-nav__list {
  list-style: none;
  display: flex;
  padding-left: 10px;
}

.header-nav__link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  position: relative;
}

.header-nav__item {
  padding-left: 14px;
  padding-right: 14px;
}

.user-panel__btn {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
.search{
  position: absolute;
  width: 341px;
height: 84px;
border-radius: 5px;
box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
background-color: #f8f7f4;
top: 47px;
    left: -309px;
}
.search__input{
  width: 311px;
height: 44px;
border: solid 1px #d3d3d2;
background-color: #ffffff;
margin-top: 21px;
margin-left: 14px;
padding-left: 12px;
padding-right: 12px;
font-family: inherit;
font-size: 14px;
line-height: 1.71;
text-align: left;
color: #999999;
}

.user-panel__btn-icon {
  position: absolute;
  top: 7px;
  left: 7px;
}

.user-panel {
  display: flex;
  margin-top: 12px;
}

.user-panel__login {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 44px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 7px;
  position: relative;
}

.user-panel__login-icon {
  position: absolute;
  top: 7px;
  left: 15px;
}

.user-panel__basket {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 44px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 5px;
  position: relative;
}

.user-panel__basket-icon {
  position: absolute;
  top: 6px;
  left: 15px;
}

.user-info__text {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  color: #ffffff;
  padding-left: 95px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.user-info__number {
  font-family: inherit;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding-left: 60px;
}
.user-login{
  width: 277px;
height: 214px;
border-radius: 5.1px;
box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
background-color: #f8f7f4;
position: absolute;
top: 49px;
left: -140px;
z-index: 12;
}
.reg-restore__link{
  font-family: inherit;
font-size: 13px;
line-height: 1.85;
text-align: left;
color: #323232;
width: 120px;
display: block;
}
.reg-restore{
  margin-left: 23px;
}
.user-login__input{
  width: 241px;
height: 44px;
border-radius: 5px;
border: solid 1px #d3d3d2;
background-color: #ffffff;
 font-family: inherit;
font-size: 14px;
line-height: 1.71;
text-align: left;
color: #999999;
margin-top: 20px;
margin-left: 20px;
padding-left: 14px;
padding-right: 14px;
}
.user-login__panel{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.user-login__button{
  box-shadow: 0px 1px 2px 0 #ac1000;
background-image: linear-gradient(to top, #e74a35, #f26843);
font-family: inherit;
font-size: 18px;
font-weight: bold;
line-height: 1.33;
text-align: left;
border: none;
border-radius: 20px;
padding: 11px 22px 11px 22px;
color: #fefefe;
}
.user-login__button-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.header-wrapper {
  display: flex;
  padding-top: 10px;
}

.header-nav {
  display: flex;
  margin-left: 6px;
}

.header-users {
  margin-left: 361px;
  position: relative;
}

.main-page__slider {
  position: relative;
}

.slider-main__text {
  font-family: inherit;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.01;
  text-align: center;
  color: #ffffff;
  width: 680px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  padding-top: 258px;
}

.slider-main__list {
  margin: 0;
}

.slides {
  position: relative;
  height: 590px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.slide:nth-of-type(2) {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.slide:nth-of-type(3) {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.slider-main__link {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-family: inherit;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 73px;
  display: inline-block;
}

.main-advantages {
  background-color: #849d8f;
  margin-top: -18px;
}

.main-advantages__list {
  display: flex;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.main-advantages__title {
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 18px;
}

.main-advantages__text {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
}

.main-advantages__link {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  color: #ffffff;
  margin-left: 374px;
  margin-top: 27px;
}

.main-advantages__link--shoko {
  margin-left: 348px;
  margin-top: 26px;
}

.main-advantages__item {
  width: 560px;
}

.main-advantages__item--malina {
  background-image: url("../img/malina.png");
  background-repeat: no-repeat;
  margin-right: 26px;
  margin-left: 7px;
  width: 560px;
  height: 229px;
  z-index: 2;
}

.main-advantages__item--shoko {
  background-image: url("../img/shoko.png");
  background-repeat: no-repeat;
  width: 560px;
  height: 229px;
  z-index: 2;
}

.main_preview__price {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: inherit;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  margin-top: -65px;
  margin-bottom: 20px;
}

.main_preview__price-simbol {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.main_preview {
  background-color: #849d8f;
  min-height: 403px;
}

.main_preview__list {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 40px;
  width: 1147px;
  justify-content: space-between;
  margin-left: 8px;
}

.main_preview__item {
  margin: 0;
  padding: 0;
  height: 267px;
  position: relative;
}

.main_preview__item::after {
  content: "";
  position: absolute;
  background-image: url("../img/hit.svg");
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 100;
}

.main_preview__link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #ffffff;
  width: 260px;
  text-align: center;
  display: block;
}

.shop-info {
  background-color: #849d8f;
}

.shop-info__wrapper {
  background-image: url("../img/vafleback.png");
  width: 1146px;
  height: 306px
}

.shop-info__title {
  margin: 0;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  color: #323232;
  padding-top: 24px;
}

.shop-info__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 14px;
  padding-left: 0;
}

.shop-info__item:nth-child(even) {
  padding-left: 77px;
}

.shop-info__item {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #323232;
  width: 547px;
  padding-left: 57px;
}

.shop-info__item--1 {
  position: relative;
}

.shop-info__item--1::after {
  content: "";
  background-image: url("../img/ice-cream.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -5px;
  left: 0;
}

.shop-info__item--2 {
  position: relative;
}

.shop-info__item--2::after {
  content: "";
  background-image: url("../img/cow.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -6px;
  left: 17px;
}

.shop-info__item--3 {
  position: relative;
}

.shop-info__item--3::after {
  content: "";
  background-image: url("../img/eco.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -6px;
  left: 0;
}

.shop-info__item--4 {
  position: relative;
}

.shop-info__item--4::after {
  content: "";
  background-image: url("../img/thermometer.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  top: -7px;
  left: 18px;
}

.shop-info__text {
  margin-top: 7px;
}

.main-news {
  background-color: #849d8f;
}

.main-news__wrapper {
  display: flex;
  padding-bottom: 40px;
}

.main-news__about {
  width: 560px;
  min-height: 220px;
  background-image: url("../img/backstrawberry.png");
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 7px;
}

.main-news-sub {
  width: 560px;
  min-height: 220px;
  margin-top: 40px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  margin-left: 26px;
}

.main-news-sub__backcolor {
  width: 546px;
  height: 207px;
  background-color: #ffffff;
  margin-left: 7px;
  border-radius: 15px;
}

.main-news__text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #323232;
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 0;
}

.main-news__link {
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #323232;
  width: 310px;
  display: block;
  padding-left: 20px;
  padding-top: 4px;
}

.main-news-sub__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #5a5a5a;
  margin-top: 7px;
  padding-top: 26px;
  padding-left: 21px;
}

.main-news-sub__form {
  margin-top: 35px;
  padding-left: 29px;
}

.main-news-sub__input {
  width: 368px;
  height: 44px;
  outline: 0;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.main-news-sub__send {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  padding-left: 17px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #fefefe;
}

.main-map {
  text-align: center;
  position: relative;
  height: 430px;
}

.user-info {
  position: absolute;
  top: 46px;
  z-index: 3;
  left: 0px;
}

.user-info__title {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #323232;
  width: 150px;
  margin-left: 23px;
  margin-top: 31px;
  margin-bottom: 0;
}

.user-info__adres {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #323232;
  width: 220px;
  margin-top: 0;
  margin-left: 25px;
  font-weight: bold;
}

.user-info__feedback {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #323232;
  margin-left: 24px;
  margin-top: 21px;
  margin-bottom: 3px;
}

.user-info__feedback--time {
  margin-top: 0;
}

.user-info__nuber {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #323232;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-left: 24px;
}

.user-info__popup-open {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 28px;
  padding-right: 28px;
  border: none;
  border-radius: 25px;
  margin-top: 22px;
}

.user-info-map {
  width: 302px;
  min-height: 305px;
  position: absolute;
  top: 60px;
  right: 100px;
  background-color: #ffffff;
  border-radius: 15px;
}

.footer {
  background-color: #849d8f;
  min-width: 103px;
  padding-bottom: 11px;
}

.footer-wrapper {
  display: flex;
  position: relative;
}

.footer-wrapper::before {
  content: "";
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  left: 27px;
}

.footer-social {
  margin: 0;
  list-style: none;
  display: flex;
  padding-left: 5px;
  height: 36px;
  padding-top: 35px;
}

.footer-feedback {
  margin-left: 200px;
}

.footer-feedback__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 344px;
  padding-top: 28px;
}

.footer-feedback__item:last-child {
  margin-left: auto;
}

.footer-feedback__link {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.footer-feedback__link--bold {
  font-weight: bold;
  position: relative;
  margin-right: 32px;
}

.footer-feedback__link--bold::after {
  content: "";
  position: absolute;
  background-image: url("../img/heart.svg");
  top: 5px;
  left: -22px;
  width: 15px;
  height: 13px;
}

.footer-copyright {
  margin-left: auto;
  width: 195px;
}

.footer-copyright__logo {
  margin-top: 15px;
}

.footer-copyright__text {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #fefefe;
  margin-top: 0;
}

.footer-copyright__name {
  border-bottom: 1px solid #9db1a5;
}

.footer-social__item {
  margin-left: 3px;
  margin-right: 5px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 38px;
  height: 38px;
}

/* CATALOG ==================================================== */
.main-catalog {
  background-color: #849d8f;
}

.main-catalog__nav__list li::after {
  content: "»";
  color: #ffffff;
  position: absolute;
  right: 3px;
}

.main-catalog__nav__list {
  margin: 0;
  list-style: none;
  display: flex;
  padding-left: 7px;
  padding-top: 21px;
}

.main-catalog__nav__list li:last-child::after {
  content: "";
}

.main-catalog__nav__link {
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #ffffff;
}

.creamy__title {
  font-family: inherit;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-left: 9px;
}

.sorting-label {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  padding-left: 24px;
}

.select-wrapper {
  width: 200px;
}

.select-wrapper__sorting {
  width: 165px;
  height: 20px;
  background-color: #a9b9af;
  border: none;
  margin-left: 13px;
  margin-top: 8px;
}

.sorting__form-select {
  background: #a9b9af;
  border: none;
  color: #ffffff;
  height: 37px;
  border-radius: 30px;
  width: 194px;
  margin-left: 6px;
}

.label-style {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
  color: #ffffff;
  background: #a9b9af;
}

.sorting__price {
  margin-left: 15px;
}

.sorting__price-input {
  border: none;
  background-color: #849d8f;
  width: 30px;
  color: #fff;
}

.sorting__price-options {
  padding-left: 17px;
}

.fat-content {
  border: none;
}

.fillers {
  border: none;
  padding-left: 4px;
}

.fillers__title {
  padding-left: 17px;
}

.bar {
  width: 220px;
  height: 37px;
  background-color: #a9b9af;
  border-radius: 30px;
  padding-top: 18px;
  padding-left: 22px;
}

.bar__range {
  position: relative;
  width: 176px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.bar__range::after {
  content: " ";
  position: absolute;
  top: -8px;
  left: 13px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 5px 15px -7px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.bar__range::before {
  content: " ";
  position: absolute;
  top: -8px;
  right: 44px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 5px 15px -7px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.fat-content__choice {
  width: 415px;
  min-height: 36px;
  background-color: #a9b9af;
  border-radius: 30px;
  padding-top: 7px;
  padding-left: 5px;
  margin-top: -4px;
}

.fillers__choice {
  width: 703px;
  min-height: 37px;
  background-color: #a9b9af;
  border-radius: 30px;
  padding-left: 5px;
  padding-top: 5px;
}

.sorting__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.fat-content__label {
  position: relative;
  padding-left: 44px;
}

.fat-content__title {
  padding-left: 15px;
}

.fat-content__input+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 12px;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
}

.fat-content__input:checked+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 12px;
  background-image: url("../img/radio-on.svg");
  width: 25px;
  height: 25px;
}

.fillers__input+label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 12px;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
}

.fillers__input:checked+label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 12px;
  background-image: url("../img/checkbox-on.svg");
  width: 26px;
  height: 23px;
}

.fillers__label {
  position: relative;
  padding-left: 48px;
}

.main-catalog__nav__item {
  padding-right: 20px;
  position: relative;
}

.sorting__form__send {
  margin-top: 29px;
  padding-left: 28px;
  width: 144px;
  height: 37px;
  border: solid 2px #ffffff;
  border-radius: 30px;
}

.creamy {
  padding-bottom: 28px;
}

.creamy-catalog__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 67px;
  margin-bottom: 0;
}

.creamy-catalog__price {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: inherit;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  margin-top: -65px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.creamy-catalog__price-simbol {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.creamy-catalog__link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #ffffff;
  width: 270px;
  text-align: center;
  display: inline-block;
  padding-left: 10px;
}

.creamy-catalog__item {
  width: 287px;
  min-height: 405px;
  margin-right: 3px;
  margin-top: -40px;
}

/* .creamy-catalog__item:hover{
  width: 287px;
  min-height: 405px;
  background-color: rgba(155, 177, 165, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 1;

}
.creamy-catalog__item:hover .creamy-catalog__view{
  opacity: 1;
} */
.creamy-catalog__view {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  margin-left: 42px;
  padding-top: 10px;
  padding-bottom: 12px;
  width: 200px;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  color: #fefefe;
  margin-top: 10px;
  opacity: 0;
}

.creamy-catalog__img {
  padding-left: 10px;
}

.page-list {
  list-style: none;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: -5px;
}

.page-list__item:first-child {
  margin-left: 14px;
}

.page-list::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  top: 8px;
  left: 1px;
  transform: rotate(180deg);
  opacity: 0.2;
}

.page-list::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  top: 8px;
  right: 5px;
}

.page-list__link {
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: right;
  color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 5px;
}

.page-list__item--active {
  color: #000000;
  background-color: #ffffff;
}

.page-list__item--active .page-list__link {
  color: #000000;
}

.page-list__item {
  width: 27px;
  height: 24px;
  border-radius: 25px;
  margin-left: 2px;
  margin-right: 2px;
}

.submenu {
  position: absolute;
  top: 59px;
  left: 258px;
  min-height: 168px;
  width: 143px;
  box-shadow: 0 15px 21px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  list-style: none;
  border-radius: 5px;
  background-color: #f8f7f4;
  padding-left: 0;
  padding-top: 6px;
}

.submenu__title {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #323232;
  text-decoration: none;
  display: inline-block;
  padding-top: 11px;
  padding-left: 20px;
}

.submenu__title--first {
  padding-top: 0;
  padding-bottom: 12px;
  font-weight: bold;
  padding-left: 14px;
}

.submenu__item {
  width: 143px;
  height: 31px;
}

.submenu__item--border {
  width: 129px;
  margin-left: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 32px;
}

.submenu__item--hov:hover {
  background-color: #fbded7;
  border-radius: 5px;
}

.submenu__item--hov:active {
  background-color: #f6b5a5;
  border-radius: 3px;
}

.submenu__item--current {
  background-color: #d07058;
}

.submenu__title--first:hover {
  color: #fbded7;
}

.submenu__title--first:active {
  color: #f6b5a5;
}
